<div>
  Show skills: <input name="showHeader" type="checkbox" checked (change)="show = !show">
  <app-header  [nameHeader]="nameMain" (nameEntered)="changeName($event)"></app-header>

  <div *ngIf="show">


    <app-skills
      [nameSkills]="nameMain"
      *ngFor="let skill of skills"
      [skill]="skill"
      [skillValue]="skillsValues[skills.indexOf(skill)]"
      (changeSkillValue)="changeSkillValue($event,skills.indexOf(skill))"
      [skillColor]="skillsColors[skills.indexOf(skill)]"

    ></app-skills>
  </div>


  <label>Total: {{total}}</label>
</div>
